# Created by .ignore support plugin (hsz.mobi)
# Created by .ignore support plugin (hsz.mobi)
.idea
confsvr/target
.idea/inspectionProfiles/
confsvr/target/
eurekasvr/target
order-service/target
product-service/target/
zuulsvr/target/
boot-netflix.iml